<header class="header">
  <div class="container">
      <div class="first-head">
          <div class="logo">
              <h1>Sara</h1>
          </div>
          <a href="/"><i class="fa-solid fa-house"></i></a>
          <% if (isAuthenticated) { %>
            <a href="/user/<%= user.username %>">صفحتك</a>
            <a href="/user/messages">الرسائل</a>
            <% } %>
        </div>
      <div class="second-head">
          <a href="/about">حول</a>
          <% if (!isAuthenticated) { %>
          <a href="/signup">انشاء حساب</a>
          <a href="/login">تسجيل الدخول</a>
          <% } %>
          <% if (isAuthenticated) { %>
          <form action="">
              <input type="button" value="تسجيل الخروج">
          </form>
          <% } %>
          <div class="links">
              <span class="icon">
                <span></span>
                <span></span>
                <span></span>
              </span>
              <ol>
                <% if (!isAuthenticated) { %>
                <a href="/signup"><li>انشاء حساب</li></a>
                <a href="/login"><li>تسجيل الدخول</li></a>
                <% } %>
                <a href="/about"><li>حول</li></a>
                  <% if (isAuthenticated) { %>
                    <li>
                      <form method="POST" action="/logout">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <button type="submit">تسجيل الخروج</button>
                      </form>
                            </li>
                  <% } %>
              </ol>
            </div>
      </div>
  </div>
</header>


<!-- End-header -->
