<!-- start-header -->
<header class="header">
  <div class="container">
    <div class="first-head">
      <div class="logo">
        <h1>Sara</h1>
      </div>
      <a href="/"><i class="fa-solid fa-house"></i></a>
      <% if (isAuthenticated) { %>
      <a href="/user/<%= user.username %>">Profile</a>
      <a href="/user/messages">Messages</a>
      <% } %>
    </div>
    <div class="second-head">
      <a href="/about">حول</a>
      <% if (!isAuthenticated) { %>
      <a href="/signup">انشاء حساب</a>
      <a href="/login">تسجيل الدخول</a>
      <% } %> <% if (isAuthenticated) { %>
      <div>
        <form
          method="POST"
          action="/logout"
        >
          <input
            type="hidden"
            name="_csrf"
            value="<%= csrfToken %>"
          />
          <button type="submit">Logout</button>
        </form>
      </div>
      <% } %>
      <div class="links">
        <span class="icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <ol>
          <% if (!isAuthenticated) { %>
          <a href="/signup"><li>انشاء حساب</li></a>
          <a href="/login"><li>تسجيل الدخول</li></a>
          <% } %>
          <a href="/about"><li>حول</li></a>
        </ol>
      </div>
    </div>
  </div>
</header>
<!-- End-header -->
