<%- include('partials/header.ejs')%>
<link rel="stylesheet" href="/css/about.css" />
</head>
  <body>
    <%- include('partials/navigation.ejs')%>
    <section class="info">
        <div class="container">
            <div class="header">
                <h1>موقع <span><span>S</span>ara</span></h1>
            </div>
            <div class="contact">
                <h1>للتواصل مع المطورين</h1>
                <div class="fi">
                    <div class="cards">
                        <div class="flip">
                         <div class="photo">
                             <img src="imgs/mohammed-walied.jpg" alt="">
                             <h2>Mohamed <span>walied</span></h2>
                             <p>(Front-End)</p>
                         </div>
                         <div class="infor">
                             <h2>لينكات social media</h2>
                             <div>
                                 <a href="https://www.facebook.com/profile.php?id=100016598262070" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                                 <a href="https://t.me/mohammed_1306" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                             </div>
                         </div>
                        </div>
                        <div class="flip">
                         <div class="photo">
                             <img src="imgs/Jalal.jpg" alt="">
                             <h2>Jalal <span>Faour</span></h2>
                             <p>(Back-End)</p>
                         </div>
                         <div class="infor">
                             <h2>لينكات social media</h2>
                             <div>
                                 <a href="https://www.facebook.com/jalal.fa.8/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                                 <a href="https://t.me/jalal_fa0" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('partials/footer.ejs')%>
</body>
</html>