<%- include('partials/header.ejs')%>
</head>
  <body>
    <%- include('partials/navigation.ejs')%>
    <!-- stert-content -->
    <section class="content">
      <div class="container" dir="rtl">
        <div class="head-of-content">
          <h1>ูุฑุญุจุง ุจูู ูู ูููุน SARA</h1>
          <p>ูู ุฎุทูุงุช ุจุณูุทุฉ ุชุณุชุทูุน ุงูุดุงุก ุญุณุงุจ ูุชุณุชูุจู ุงุฑุงุก ุงููุงุณ ุงูุตุงุฏูุฉ ุนูู ใ</p>
          <p>
            ุชุณุชุทูุน ุงูุดุงุก ุญุณุงุจู ูู <a href="">ููุง</a> ุ ูุฌุฑุฏ ุงูุดุงุก ุญุณุงุจู ุณูุชู ุชุฒููุฏู ุจุฑุงุจุท ุญุณุงุจู ุงูุดุฎุตู.. ุฃู ุจุนุฏ ุชุณุฌูู ุงูุฏุฎูู ุงุฐูุจ ุงูู ุงูุตูุญุฉ ุงูุดุฎุตูุฉ ูุงูุณุฎ ุงูุฑุงุจุท ูุดุงุฑูู ูุน ุงุตุฏูุงุฆู
            ุงู ุนูู ุญุณุงุจุงุชู ูู ุงูุณูุดู ููุฏูุง ูุงุทูุจ ุฑุฃููู ุงูุตุฑูุญ ุจู ๐ .
          </p>
          <p>ุนูุฏูุง ุณุชุณูุจู ุฑุณุงุฆููู ูุจุงุดุฑุฉ ุนู ุทุฑูู ุจูุช ุงูุชูุบุฑุงู.</p>
        </div>
        <div class="tips">
          <h1>ููุงุญุธุงุช ูููุฉ!!</h1>
          <ul>
            <li>ุชุณุชุทูุน ุงุณุชูุจุงู ุฑุณุงุฆูู ูู ุฎูุงู ุชูุบุฑุงู ุญุตุฑุงู!!.</li>
            <li>ุชุณุชุทูุน ุงูุญุตูู ุนูู ูุณุฎุฉ ูู ุงูุฑุณุงุฆู ุนุจุฑ ูุฑุงุณูุชู.</li>
            <li>ุงููููุฒุงุช ุงูุงุถุงููุฉ ๐ ุงูุชู ุชุญุตู ุนูููุง ูู ุงููููุน ูุง ูุชู ุชุฎุฒูููุง ูู ูุงุนุฏุฉ ุงูุจูุงูุงุช.. ุชุณุชุทูุน ูุฑุงุฆุชูุง ููุฑ ูุตูููุง ููุทุ ุญูุซ ูุชู ุชุฎุฒูู ุงูุฑุณุงุฆู ูุน ุงูุชูุงุฑูุฎ ููุท.</li>
            <li>ูุง ุชุณุชุทูุน ุชุบููุฑ ุงููููู ููุง ุงูTelegram ID ุงูุฎุงุต ุจู (ูุคููุช).</li>
            <li>ูุง ุชุณุชุทูุน ุชุบููุฑ ูููุฉ ุงูุณุฑ ูู ุฏูู ุชุณุฌูู ุงูุฏุฎูู ุงูู ุญุณุงุจู ุงููุงู (ูุง ููุฌุฏ ุฎูุงุฑ "ูุณูุช ูููุฉ ุงูุณุฑ").</li>
          </ul>
        </div>
        <div class="subscripe">
          <a href="/signup">ุงูุดุงุก ุญุณุงุจ</a>
          <a href="/login">ุชุณุฌูู ุงูุฏุฎูู</a>
        </div>
      </div>
    </section>
    <!-- End-content -->
    <%- include('partials/footer.ejs')%>
  </body>
</html>
