<%- include('partials/header.ejs')%>
    <link rel="stylesheet" href="/css/message.css">
</head>
<body>
    <%- include('partials/navigation.ejs')%>
    <section class="content">
        <div class="container">
            <h1>صندوق الرسائل</h1>
            <% messages.forEach(message => { %>
            <div class="message">
                <div class="tainer">
                    <div class="per">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div>
                        <h2>مجهول</h2>
                          <p><%= message.body %></p>
                     </div>
                </div>
                <hr style="border: 1px solid #7ef7e6; ">
            </div>
            <% }) %>
        </div>
    </section>
    <%- include('partials/footer.ejs')%>
</body>
</html>