* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  background: url("../images/textured-mulberry-paper.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
a {
  text-decoration: none;
}
:root {
  --maincolor: #7ef7e6;
  --backcolor: #18181b;
}
/* starting-header */
header {
  background-color: var(--backcolor);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}
.container .first-head {
  display: flex;
  align-items: center;
  width: 150px;
}
.container .first-head .logo h1 {
  margin: 0;
  padding: 0;
  color: white;
}
.container .first-head .logo {
  width: 100%;
  border: 2px solid;
  border-color: transparent;
  border-right-color: var(--maincolor);
}
.container .first-head .logo h1::first-letter {
  color: var(--maincolor);
}
.container .first-head > a {
  color: white;
  margin-left: 30px;
  font-size: 1.4em;
}
.container .first-head > a:hover {
  color: bisque;
}
.container .second-head > a {
  color: var(--maincolor);
  font-size: 1.16em;
  font-weight: 600;
}
.container .second-head > a:not(:last-child) {
  margin-left: 1.3em;
}
.container .second-head > a:hover {
  color: #b19000;
}
.header .container .links {
  position: relative;
  display: none;
}
.header .container .links .icon {
  width: 30px;
  height: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .container .links .icon span {
  background-color: var(--maincolor);
  width: 100%;
  height: 2px;
  margin-bottom: 2px;
  transition: 0.3s;
}
.header .container .links .icon span:nth-child(2) {
  width: 65%;
}
.header .container .links .icon:hover span {
  width: 100%;
}
.header .container .links ol {
  width: 200px;
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  list-style: none;
  background-color: var(--backcolor);
  display: none;
  border-radius: 5px;
  box-shadow: 6px 8px 20px -12px black;
  cursor: pointer;
  z-index: 3;
}
.header .container .links ol::before {
  content: "";
  border: 7px solid;
  border-color: transparent transparent var(--backcolor) transparent;
  position: absolute;
  top: -13px;
  right: 10px;
}
.header .container .links ol li {
  padding: 9px;
  transition: 0.3s;
}
.header .container .links ol a:not(:last-child) li {
  border-bottom: 1px solid black;
}
.header .container .links ol a li:hover {
  padding-left: 15px;
  background-color: rgb(8, 8, 8);
  border-radius: 5px;
}
.header .container .links ol a {
  text-decoration: none;
  color: var(--maincolor);
  font-weight: 600;
}
.header .container .links:hover ol {
  display: block;
}
@media (max-width: 767px) {
  body {
    font-size: 10px;
  }
  .container .first-head {
    width: 100px;
  }
  .container .first-head a {
    margin-left: 17px;
  }
  .container .second-head > a {
    display: none;
  }
  .header .container .links {
    display: block;
  }
}
/* Ending-header */
/* strating-content */
.content {
  display: flex;
  align-items: center;
  height: 120vh;
}
.content .container {
  justify-content: center;
  color: var(--maincolor);
  text-align: center;
  padding: 60px;
  padding-top: 30px;
  flex-direction: column;
  line-height: 1.9;
  font-weight: 700;
  position: relative;
}
.content .container::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(12, 12, 12);
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  border-radius: 30px;
}
.content .container::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--maincolor);
  position: absolute;
  top: 0;
  left: 10px;
  border-radius: 50%;
  animation-name: around;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.content .head-of-content p:not(:first-of-type) {
  text-align: start;
}
.content .container .tips ul li {
  text-align: start;
  list-style: circle;
}
.content .head-of-content p a {
  color: wheat;
}
.content .subscripe {
  margin-top: 40px;
  display: flex;
}
.content .subscripe a {
  color: var(--backcolor);
  font-size: 1.3em;
  position: relative;
  display: block;
}
.content .subscripe a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -20px;
  right: -20px;
  transform: skewX(15deg);
  background-color: var(--maincolor);
  padding: 20px;
  border-radius: 0 40% 0 40%;
  z-index: -1;
  transition: 1s;
}
.content .subscripe a:hover:before {
  background-color: #31e2cb;
  transform: skewx(0deg);
}
.content .subscripe a:first-child {
  margin-left: 70px;
}
@keyframes around {
  25% {
    top: 0;
    left: 96%;
  }
  50% {
    top: 92%;
    left: 96%;
  }
  75% {
    top: 92%;
    left: 10px;
  }
  100% {
    top: 0;
    left: 10px;
  }
}
@media (max-width: 767px) {
  .content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 500px) {
  .content .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* Ending-content */
/* star-footer */
footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  font-weight: 600;
  padding: 15px;
  background-color: var(--backcolor);
  letter-spacing: 1px;
}
footer span {
  color: var(--maincolor);
}
/* End-footer */
