<%- include('../partials/header.ejs')%>

</head>
<body>
<%- include('../partials/navigation.ejs')%>
<section class="content">
    <div class="container">
    <div class="head-of-content">
        <h1>Page not Found!</h1>
    </div>
</section>
    
<%- include('../partials/footer.ejs')%>

</body>
</html>