<%- include('../partials/header.ejs')%>

</head>
<body>
<%- include('../partials/navigation.ejs')%>
<section class="content">
    <div class="container">
    <div class="head-of-content">
        <h1>Problem with the database!</h1>
        <h2>Try Again Later</h2>
        </div>
    </div>
</section>
    
<%- include('../partials/footer.ejs')%>

</body>
</html>